README.md
images
docker-compose-postgres.yaml
docker-compose.yml
dockerfile
.dockerignore


# Ignoriere virtuelle Umgebungen
venv/
env/
.claude
env_template


# Ignoriere temporäre Dateien und Verzeichnisse (z.B. von IDEs)
__pycache__
*.pyc
*.pyo
*.pyd
src/aiproxysrv.egg-info
dump.rdb

# Ignoriere Versionskontrollsysteme
.git
.gitignore

# Ignoriere die lokale .idea/App-Settings von JetBrains
.idea/

# Ignoriere Betriebssystem- und Editor-spezifische Dateien
.DS_Store
Thumbs.db
