# ==================================================
# CELERY CONFIGURATION
# ==================================================
CELERY_BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=redis://redis:6379

# ==================================================
# Image storage directory (defaults to "./images" in
# debug mode, "/images" in production)
# ==================================================
IMAGES_DIR=/Users/robertw/Workspace/mac_ki_service/aiproxysrv/images

# Control if physical files should be deleted when images are deleted (optional, defaults to true)
# Only uncomment and set to false in special cases where you want to keep files but delete DB records
# DELETE_PHYSICAL_FILES=false


# ==================================================
# MUREKA API CONFIGURATION
# ==================================================
MUREKA_API_KEY=
MUREKA_GENERATE_ENDPOINT=https://api.mureka.ai/v1/song/generate
MUREKA_STATUS_ENDPOINT=https://api.mureka.ai/v1/song/query
MUREKA_BILLING_URL=https://api.mureka.ai/v1/account/billing
MUREKA_STEM_GENERATE_ENDPOINT=https://api.mureka.ai/v1/song/stem
MUREKA_MODEL=auto

# Timeout für MUREKA Requests (in Sekunden)
MUREKA_TIMEOUT=30

# Polling-Intervall für Statusabfragen (in Sekunden)
MUREKA_POLL_INTERVAL=10

# Maximale Polling-Versuche (10s Interval = 360 = 60 Minuten)
MUREKA_MAX_POLL_ATTEMPTS=360

# ==================================================
# REDIS CONFIGURATION
# ==================================================
REDIS_URL=redis://localhost:6379

# ==================================================
# FLASK SERVER CONFIGURATION
# ==================================================
OPENAI_PORT=5050
OPENAI_HOST=0.0.0.0

# ==================================================
# OPENAI/DALL-E CONFIGURATION
# ==================================================
OPENAI_API_KEY=
OPENAI_URL=https://api.openai.com/v1/images
OPENAI_MODEL=dall-e-3

# ==================================================
# APPLICATION SETTINGS
# ==================================================
# Debug Mode (true/false)
DEBUG=true

# ==================================================
# Database PostgreSQL
# ==================================================
DATABASE_URL=postgresql://aiproxy:***@localhost:5432/aiproxysrv
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=aiproxysrv
POSTGRES_USER=aiproxy
POSTGRES_PASSWORD=
