# ==================================================
# CELERY CONFIGURATION
# ==================================================
CELERY_BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=redis://redis:6379

# ==================================================
# Image storage directory (defaults to "./images" in
# debug mode, "/images" in production)
# ==================================================
IMAGES_DIR=/Users/robertw/Workspace/mac_ki_service/aiproxysrv/images
# Base URL for image downloads (DEV: http://localhost:5050/api/v1/image, PROD: https://macstudio/aiproxysrv/api/v1/image)
IMAGE_BASE_URL=http://localhost:5050/api/v1/image

# Control if physical files should be deleted when images are deleted (optional, defaults to true)
# Only uncomment and set to false in special cases where you want to keep files but delete DB records
# DELETE_PHYSICAL_FILES=false

# ==================================================
# MUREKA API CONFIGURATION
# ==================================================
MUREKA_API_KEY=
MUREKA_GENERATE_ENDPOINT=https://api.mureka.ai/v1/song/generate
MUREKA_INSTRUMENTAL_GENERATE_ENDPOINT=https://api.mureka.ai/v1/instrumental/generate
MUREKA_STATUS_ENDPOINT=https://api.mureka.ai/v1/song/query
MUREKA_INSTRUMENTAL_STATUS_ENDPOINT=https://api.mureka.ai/v1/instrumental/query
MUREKA_BILLING_URL=https://api.mureka.ai/v1/account/billing
MUREKA_STEM_GENERATE_ENDPOINT=https://api.mureka.ai/v1/song/stem
MUREKA_MODEL=auto

# Timeout für MUREKA Requests (in Sekunden)
MUREKA_TIMEOUT=30

# Polling-Intervall für Statusabfragen (in Sekunden)
MUREKA_POLL_INTERVAL=10

# Maximale Polling-Versuche (10s Interval = 360 = 60 Minuten)
MUREKA_MAX_POLL_ATTEMPTS=360

# ==================================================
# OLLAMA API CONFIGURATION
# ==================================================
OLLAMA_URL=http://10.0.1.120:11434
OLLAMA_TIMEOUT=360

# ==================================================
# REDIS CONFIGURATION
# ==================================================
REDIS_URL=redis://localhost:6379

# ==================================================
# FLASK SERVER CONFIGURATION
# ==================================================
FLASK_SERVER_PORT=5050
FLASK_SERVER_HOST=0.0.0.0

# ==================================================
# OPENAI/DALL-E CONFIGURATION
# ==================================================
OPENAI_API_KEY=
OPENAI_URL=https://api.openai.com/v1/images
OPENAI_MODEL=dall-e-3

# ==================================================
# APPLICATION SETTINGS
# ==================================================
# Debug Mode (true/false)
DEBUG=true

# ==================================================
# Database PostgreSQL
# ==================================================
DATABASE_URL=postgresql://aiproxy:***@localhost:5432/aiproxysrv
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=aiproxysrv
POSTGRES_USER=aiproxy
POSTGRES_PASSWORD=
