.idea
.vscode
.claude
.DS_Store
dump.rdb
package-lock.json
package.json
node_modules

aiproxysrv/.env
aiproxysrv/images
aiproxysrv/__pycache__
aiproxysrv/backup
aiproxysrv/src/aiproxysrv.egg-info

ollamasrv/backup
ollamasrv/data
ollamasrv/docker_images

revproxy/nginx/.htpasswd
revproxy/certs
revproxy/logs
revproxy/html/aiwebui
