.idea
.vscode
.claude
.DS_Store
package-lock.json
package.json
node_modules
__pycache__
*.bak
/docs/ARC42_Architecture_Documentation.pdf
aiproxysrv/images
aiproxysrv/backup
aiproxysrv/alembic.ini
aiproxysrv/alembic.ini.docker
ollamasrv/backup
ollamasrv/data
ollamasrv/docker_images
forwardproxy/nginx/.htpasswd
forwardproxy/certs/*
forwardproxy/logs
forwardproxy/html/aiwebui
appendonlydir
dump.rdb
*.egg-info
*.aof.1.base.rdb
*.aof.1.incr.aof
*.aof.manifest
CLAUDE.md

.env
.env_postgres
.env_mock
