.idea
.vscode
.claude
.DS_Store
package-lock.json
package.json
node_modules
__pycache__
*.bak
aiproxysrv/.env
aiproxysrv/.env_docker
aiproxysrv/images
aiproxysrv/backup
aiproxysrv/alembic.ini
aiproxysrv/alembic.ini.docker
ollamasrv/backup
ollamasrv/data
ollamasrv/docker_images
revproxy/nginx/.htpasswd
revproxy/certs
revproxy/logs
revproxy/html/aiwebui
appendonlydir
dump.rdb
*.egg-info
*.aof.1.base.rdb
*.aof.1.incr.aof
*.aof.manifest
CLAUDE.md
