<app-header></app-header>

<form [formGroup]="songForm" (ngSubmit)="onSubmit()">
    <textarea
        formControlName="lyrics"
        placeholder="Enter lyrics here..."
        required>
    </textarea>
    <textarea
        formControlName="prompt"
        placeholder="Enter Music Style Prompt here..."
        required>
    </textarea>
    <div>
        <label for="model">Model:</label>
        <select formControlName="model" required>
            <option value="auto" selected>Auto</option>
            <option value="mureka-7">Mureka 7</option>
            <option value="mureka-6">Mureka 6</option>
            <option value="mureka-o1">Mureka o1</option>
        </select>
        <button type="submit" [disabled]="songForm.invalid || isLoading">
            <i class="fas fa-brain"></i> Create Song
        </button>
        <button type="button" (click)="resetForm()">
            <i class="fas fa-rotate-left"></i> Reset
        </button>
    </div>
</form>

<div *ngIf="resultData" class="info-box">
    <p><strong>ID:</strong> {{ resultData.id }}</p>
    <p><strong>Model used:</strong> {{ resultData.model }}</p>
    <p><strong>Created:</strong> {{ resultData.createdAtFormatted }}</p>
    <p><strong>Duration:</strong> {{ resultData.formattedDuration }} Minutes</p>
</div>

<table *ngIf="choices.length > 0" class="result-table">
    <thead>
    <tr>
        <th>Song Id</th>
        <th>Duration</th>
        <th>FLAC File</th>
        <th>MP3 File</th>
        <th>Stem</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let choice of choices">
        <td>{{ choice.id }}</td>
        <td>{{ choice.formattedDuration }}</td>
        <td><a [href]="choice.flac_url">
            <i class="fas fa-download"></i> Download
        </a></td>
        <td>
            <button type="button" (click)="playAudio(choice.url, choice.id)">
                <i class="fas fa-music"></i>
                {{ currentlyPlaying === choice.id ? 'Hide Player' : 'Show Player' }}
            </button>
        </td>
        <td>
            <button [disabled]="isLoading" type="button" (click)="generateStem(choice.url)">
                <i class="fas fa-brain"></i> Create
            </button>
        </td>
    </tr>
    </tbody>
</table>

<div class="audio-wrapper">
    <audio #player
           *ngIf="audioUrl"
           [src]="audioUrl"
           controls
           preload="metadata"
           (canplaythrough)="onCanPlayThrough()"
           (ended)="stopAudio()">
    </audio>
</div>

<div *ngIf="stemDownloadUrl" class="stem-download">
    <p><strong>Download Stems: </strong><a [href]="stemDownloadUrl" target="_blank">
        <i class="fas fa-download"></i> Download
    </a></p>
</div>

<app-footer costInfo="Song generation: ~$0.15 each"></app-footer>
