<h1>MUREKA – Song View</h1>
<app-header></app-header>

<form [formGroup]="viewForm" (ngSubmit)="onSubmit()">
    <br>
    <label for="taskSelect">Task ID:</label>
    <select formControlName="taskSelect">
        <option value="">Please select a value …</option>
        <option *ngFor="let task of tasks" [value]="task.task_id">
            {{ task.task_id }}
        </option>
    </select>
    <button type="submit" [disabled]="!viewForm.get('taskSelect')?.value || isLoading">
        <i class="fas fa-eye"></i> Show Result
    </button>
    <button type="button" [disabled]="!viewForm.get('taskSelect')?.value || isLoading" (click)="deleteTask()">
        <i class="fas fa-trash"></i> Delete
    </button>
</form>

<div *ngIf="result && !resultData">{{ result }}</div>

<div *ngIf="resultData" class="info-box">
    <p><strong>ID:</strong> {{ resultData.id }}</p>
    <p><strong>Model used:</strong> {{ resultData.model }}</p>
    <p><strong>Created:</strong> {{ resultData.createdAtFormatted }}</p>
    <p><strong>Duration:</strong> {{ resultData.formattedDuration }} Minutes</p>
</div>

<table *ngIf="choices.length > 0" class="result-table">
    <thead>
    <tr>
        <th>Song Id</th>
        <th>Duration</th>
        <th>FLAC File</th>
        <th>MP3 File</th>
        <th>Stem</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let choice of choices">
        <td>{{ choice.id }}</td>
        <td>{{ choice.formattedDuration }}</td>
        <td><a [href]="choice.flac_url">
            <i class="fas fa-download"></i> Download
        </a>
        <td>
            <button type="button" (click)="playAudio(choice.mp3_url, choice.id)">
                <i class="fas fa-music"></i>
                {{ currentlyPlaying === choice.id ? 'Hide Player' : 'Show Player' }}
            </button>
        </td>
        <td>
            <button [disabled]="isLoading" type="button" (click)="generateStem(choice.mp3_url)">
                <i class="fas fa-brain"></i> Generate
            </button>
        </td>
    </tr>
    </tbody>
</table>

<div class="audio-wrapper">
    <audio #player
           *ngIf="audioUrl"
           [src]="audioUrl"
           controls
           preload="metadata"
           (canplaythrough)="onCanPlayThrough()"
           (ended)="stopAudio()">
    </audio>
</div>

<div *ngIf="stemDownloadUrl" class="stem-download">
    <p><strong>Download Stems: </strong><a [href]="stemDownloadUrl" target="_blank">
        <i class="fas fa-download"></i> Download
    </a></p>
</div>

<app-footer></app-footer>
